<a href="https://colab.research.google.com/github/ds-MayurKharivle/ds_Rfiles/blob/main/WC_AT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Data Set

In [42]:
import pandas as pd
data = pd.read_csv("WC_AT.csv")
data.head(10)

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84
5  71.85  21.68
6  80.90  29.08
7  83.40  32.98
8  63.50  11.44
9  73.20  32.22

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Waist   109 non-null    float64
 1   AT      109 non-null    float64
dtypes: float64(2)
memory usage: 1.8 KB

# Correlation

In [20]:
data.corr()

          Waist        AT
Waist  1.000000  0.818558
AT     0.818558  1.000000

Fitting a Linear Regression Model

In [41]:
#Coefficients
model.params

Intercept    13.835630
daily         1.339715
dtype: float64

In [31]:
#t and p-Values
print(model.tvalues, '\n', model.pvalues)

Intercept     0.386427
daily        18.934840
dtype: float64
 Intercept    7.017382e-01
daily        6.016802e-19
dtype: float64

In [32]:
#R squared values
(model.rsquared)

0.9180596895873295

# Predict for new data point

In [43]:
#Predict for 200 and 300 daily circulation
newdata=pd.Series([65,150,40])

In [44]:
newdata

0     65
1    150
2     40
dtype: int64

In [51]:
data_pred=pd.DataFrame(newdata,columns=['waist'])

In [48]:
data_pred

   waist
0     65
1    150
2     40

In [50]:
data.describe()

            Waist          AT
count  109.000000  109.000000
mean    91.901835  101.894037
std     13.559116   57.294763
min     63.500000   11.440000
25%     80.000000   50.880000
50%     90.800000   96.540000
75%    104.000000  137.000000
max    121.000000  253.000000